{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags %}

{% block title %} {% if object %}ویرایش محصول{% else %}افزودن محصول{% endif %} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b>{% if object %}ویرایش محصول{% else %}افزودن محصول جدید{% endif %}</b></h2>

                    <form class="form-horizontal"
                          method="post"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-lg-2"
                                       for="id_{{ field.name }}">{{ field.label }}:</label>

                                <div class="col-md-10">
                                    {{ field|addclass:"form-control" }}

                                    {% if field.help_text %}
                                        <p><small style="font-size: 14px">{{ field.help_text|safe }} </small></p>
                                    {% endif %}
                                    {% if field.errors %}
                                        <p><small class="text-danger" style="font-size: 14px"
                                                  style="color:red">{{ field.errors.0|safe }}</small></p>
                                    {% endif %}
                                    {% if field.non_field_errors %}
                                        <p><small class="text-danger" style="font-size: 20px"
                                                  style="color:red">{{ field.non_field_errors.0|safe }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <div class="m-1-25 m-b-20" style="float: left !important;">
                                <a href="{{ request.META.HTTP_REFERER }}"
                                   class="btn btn-danger btn-border-radius waves-effect">
                                    بازگشت
                                </a>
                                <button class="btn btn-info btn-border-radius waves-effect" type="button" onclick="submit()">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

        {% if request.resolver_match.kwargs.pk %}
        <div style="margin-top: 50px!important; margin-right: 25px!important;">
            <div>
                <div class="card-header mb-4"></div>

                <h4>گالری تصاویر</h4>
                <hr>
            </div>
            <div class="row" ng-init="init()">
                <div class="col-12">
                    <div class="card">
                        <div class="row" ng-show="gallery.length > 0">
                            <br>

                            <div class="col-sm-2 col-xs-10 "
                                 ng-repeat="(key, item) in gallery"
                                 style="border-radius: 20px;box-shadow: 5px 10px 18px rgba(32,32,32,0.55); margin-right: 30px ; margin-top: 30px">
                                <label ng-click="removeGallery([[item.id]])" class="control-label">
                                    <i class="fa fa-close text-danger" style="cursor: pointer; font-size: 22px"></i>
                                </label>
                                <a href="[[item.image]]" target="_blank"><img
                                        style="border-radius: 20px; margin-bottom: 8px;"
                                        src="[[item.image]]" width="100%"></a>
                            </div>

                        </div>

                        <h4 ng-show="gallery.length == 0" style="text-align: center; padding: 40px">
                            موردی یافت نشد.
                        </h4>

                        <div class="row" style="margin-top: 30px; margin-right: 20px">
                            <br>
                            <button onclick="$('#id_gallery_image').click()" ng-disabled="is_submited" type="button"
                                    class="btn btn-primary">آپلود عکس جدید
                            </button>
                            <input onchange="angular.element(this).scope().SubmitGallery()" type="file"
                                   id="id_gallery_image" style="display: none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block Scripts %}
    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>


    <script>
        app.controller('myCtrl', function ($scope, $http) {
            $scope.gallery = [];
            $scope.data = {};
            $scope.is_submited = false;

            $scope.init = function () {
                {% if request.resolver_match.kwargs.pk %}
                    $scope.GetGalleries();
                {% endif %}
            }

            $scope.GetGalleries = function () {
                $http.get(`/api/shop/{{ request.resolver_match.kwargs.pk }}/images/gallery/`).then(res => {
                    $scope.gallery = res.data['data'];
                    console.log($scope.gallery)
                }).catch(err => {
                    parseError(err, 'خطایی رخ داد');
                });
            }

            $scope.removeGallery = function (itemId) {
                let title = '{{ title|default:"حذف آیتم" }}';
                let description = '{{ description|default:"آیا از حذف این آیتم مطمئن هستید؟ این عملیات غیرقابل بازگشت است."}}';
                let url = '/api/shop/galleries/';
                createSwal("warning", description, title).then((result) => {
                    if (result.value) {
                        $http.delete(`${url}${itemId}/`).then(function () {
                            createToast('success', 'آیتم مورد نظر با موفقیت حذف شد.');
                            $scope.GetGalleries();
                        }).catch(function (err) {
                            parseError(err);
                        })
                    }
                });
            };

            $scope.SubmitGallery = function () {
                if (!$("#id_gallery_image")[0].files[0]) {
                    return;
                }

                $scope.is_submited = true;

                fd = new FormData();
                fd.append('product', '{{ request.resolver_match.kwargs.pk }}');
                fd.append('image', $("#id_gallery_image")[0].files[0]);

                $http.post(`/api/shop/galleries/`, fd, {
                    headers: {
                        'Content-Type': undefined
                    },
                }).then(res => {
                    $scope.data = {};

                    $scope.is_submited = false;
                    createToast('success', 'عکس با موفقیت آپلود شد.')

                    $scope.GetGalleries();
                }).catch(err => {
                    $scope.is_submited = false;

                    if (err['data']['image']) {
                        createToast('error', err['data']['image'][0]);
                        return;
                    }
                    parseError(err, 'خطایی رخ داد');
                });
            }
        });
    </script>
{% endblock %}