{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags acl_tags class_tags %}

{% block title %} جزییات کلاس {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-12">
                <div class="card-box" style="height: 400px!important;">
                    <h2 class="card-title"><b>کلاس {{ object.title | default_if_none:'---' }}</b></h2>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>عنوان : {{ object.title | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6" style="word-wrap: break-word;">
                        <p>توضیحات : {{ object.desc | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>شهریه : {{ object.amount | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>مدرس : {{ object.teacher | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>زمان شروع کلاس : {{ object.start_time | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>زمان پایان کلاس : {{ object.end_time | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>وضعیت : <span
                                class="label label-{{ object.get_status_class }}-border rounded">{{ object.get_status }}</span>
                        </p>
                    </div>

                    {% if object|check_class_users_exists:user or user.is_superuser %}
                        <div class="col-lg-12">
                            <div class=" m-b-20" style="float: left !important;">
                                {% get_current_class_user object user as class_user %}
                                <a href="{{ class_user.adobe_connect_link }}"
                                   class="btn btn-info btn-border-radius waves-effect">شرکت در کلاس</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-12">
                            <div class=" m-b-20" style="float: left !important;">
                                <a href="{% url 'class-users-gateway' object.id %}"
                                   class="btn btn-info btn-border-radius waves-effect">پرداخت شهریه و شرکت در کلاس</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block Scripts %}
    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}