{% extends 'Layouts/admin-master.html' %}
{% load static public_tags acl_tags %}
{% load humanize %}

{% block title %} لیست کلاس ها {% endblock %}

{% block content %}

    <div class="row">

        {% if messages %}
            {% for item in messages %}
                <script>
                    Swal.fire({
                        title: "تبریک ! 🥳",
                        icon: 'success',
                        text: '{{ item }}',
                        type: "success",
                        cancelButtonColor: 'var(--primary)',
                        confirmButtonText: 'اوکی',
                    })
                </script>
            {% endfor %}
        {% endif %}

        <div class="col-lg-12">
            <div class="card-box">
                <div class="card-block">
                    <h4 class="card-title">لیست کلاس ها</h4>

                    <hr>
                    <form id="search">
                        <div class="form-group">
                            <div class="row">
                                {% include 'Admin/Filters/search_input.html' %}
                                {% include 'Admin/Filters/limit_select_box.html' %}
                                {% include 'Admin/Filters/select_box.html' with label='وضعیت' name='status' items=status_filter_items %}
                                {% if user.is_staff %}
                                    {% include 'Admin/Filters/select_box.html' with label='نمایش صفحه اصلی' name='is_show_in_slider' class='col-lg-2' items=is_show_in_slider_items %}
                                {% endif %}
                                {% include 'Admin/Filters/select_box.html' with label='دسته بندی' name='category' items=category_filter_items %}

                                {% if user|has_perm:'class_create' %}
                                    <a class="btn btn-primary pull-right" style='margin-top:35px; margin-left:25px'
                                       href="{% url 'classes-create' %}">افزودن کلاس جدید</a>
                                {% endif %}

                            </div>
                        </div>
                    </form>

                    <div id="list"  style="overflow-x: auto">
                                                    {% if object_list %}
                                                        <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام</th>
                        <th>دسته بندی</th>
                        <th>توضیحات</th>
                        <th>شهریه</th>
                        <th>مدرس</th>
                        <th>تعداد مجاز شرکت کنندگان</th>
                        <th>عکس</th>
                        <th>وضعیت</th>
                        <th>اعمال</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td><a href="{% url 'classes-detail' item.id %}">{{ item.title | default:'---' }}</a></td>

                            <td>{{ item.category | default:'---' }}</td>

                            <td title="{{ item.desc }}">{{ item.desc | truncatechars:10 | default:'---' }}</td>

                            <td>{{ item.amount | intcomma:False | persian_int | default:'---' }} تومان</td>

                            <td><a href="{% url 'teachers-detail' item.teacher.id %}">{{ item.teacher.profile_name | default:'---' }}</a></td>

                            {% if item.users_limit %}
                                <td>{{ item.users_limit | default:'نامشخص' }} نفر</td>
                            {% else %}
                                <td>نامشخص</td>
                            {% endif %}

                            <td>
                                <img src="{{ item.get_cover }}" alt="{{ item.title }}" width="60">
                            </td>

                            <td>
                                {% if user|has_perm:'class_change_status' %}
                                    <a role="button"
                                       ng-click="ChangeStatusModal({{ item.id }}, '{{ item.status }}')"
                                       class="label label-{{ item.get_status_class }}-border rounded">
                                        {{ item.get_status }}
                                    </a>
                                {% else %}
                                    <a role="button"
                                       class="label label-{{ item.get_status_class }}-border rounded">
                                        {{ item.get_status }}
                                    </a>
                                {% endif %}
                            </td>

                            <td>
                                <div class="buttons ">
                                    <form action="{% url 'classes-delete' item.id %}"
                                          id="delete_form_{{ item.id }}"
                                          method="post">
                                        {% csrf_token %}

                                        {% if user|has_perm:'class_detail' %}
                                            {% if user.role_code != 'student' or item.status == 'active' %}
                                                <a href="{% url 'classes-detail' item.id %}"
                                                   class="btn btn-success btn-action mr-1"
                                                   data-toggle="tooltip" title=""
                                                   data-original-title="مشاهده"><i
                                                        class="fas fa-pencil-alt"></i><i
                                                        class="fa fa-eye"> </i> </a>
                                            {% endif %}
                                        {% endif %}

                                        {% if user|has_perm:'quiz_list' %}
                                            <a href="{% url 'quizzes-list' item.id %}"
                                               class="btn btn-primary btn-action mr-1"
                                               data-toggle="tooltip" title=""
                                               data-original-title="آزمون ها"><i
                                                    class="fas fa-pencil-alt"></i><i
                                                    class="fa fa-hand-paper-o"> </i> </a>
                                        {% endif %}

                                        {% if user|has_perm:'class_user_list' %}
                                            <a href="{% url 'class-users-list' %}?class={{ item.id }}"
                                               class="btn btn-warning btn-action mr-1"
                                               data-toggle="tooltip" title=""
                                               data-original-title="هنرجویان"><i
                                                    class="fas fa-pencil-alt"></i><i
                                                    class="fa fa-users"> </i> </a>
                                        {% endif %}

                                        {% if user|has_perm:'class_edit' %}
                                            <a href="{% url 'classes-update' item.id %}"
                                               class="btn btn-primary btn-action mr-1"
                                               data-toggle="tooltip" title=""
                                               data-original-title="ویرایش"><i
                                                    class="fas fa-pencil-alt"></i><i
                                                    class="fa fa-pencil"> </i> </a>
                                        {% endif %}

                                        {% if user|has_perm:'class_delete' %}
                                            <button type="button"
                                                    data-original-title="حذف"
                                                    data-toggle="tooltip"
                                                    onclick="DeleteConfirm('{{ item.id }}')"
                                                    class="delete_button btn btn-danger btn-action"><i
                                                    class="fa fa-trash"> </i>
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                                                    {% else %}
                                                        <h4 style="text-align: center; padding: 40px">
                                موردی یافت نشد.
                         </h4>
                                                    {% endif %}


                        {% include 'Admin/pagination.html' with page_obj=page_obj %}
                    </div>
                </div>
            </div>
        </div>


        {% if user|has_perm:'class_change_status' %}
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="changeStatusModal" tabindex="-1" role="dialog"
                 aria-labelledby="changeStatusModalTitle" aria-hidden="true" dir="rtl"
                 style="text-align: right !important; margin-top: 250px">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header" style="width: 100%!important;">
                            <h5 class="modal-title"
                                id="exampleModalLongTitle">تغییر وضعیت</h5>

                            <button type="button" class="close ml-2" data-dismiss="modal"
                                    style="position: absolute!important;left: 0!important; top: 10px"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        {% for field in change_status_form %}
                            <div class="modal-body">
                                <label class="form-label"
                                       for="id_{{ field.name }}">{{ field.label }}:</label>

                                <div>
                                    {{ field|addclass:"form-control" }}

                                    {% if field.help_text %}
                                        <p><small style="font-size: 14px">{{ field.help_text|safe }} </small></p>
                                    {% endif %}
                                    {% if field.errors %}
                                        <p><small class="text-danger" style="font-size: 14px"
                                                  style="color:red">{{ field.errors.0|safe }}</small></p>
                                    {% endif %}
                                    {% if field.non_field_errors %}
                                        <p><small class="text-danger" style="font-size: 20px"
                                                  style="color:red">{{ field.non_field_errors.0|safe }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}


                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="is_submited">
                                بستن
                            </button>&nbsp;
                            <button type="button" ng-click="ChangeStatus();" ng-disabled="is_submited"
                                    class="btn btn-primary">ذخیره
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block Scripts %}
    <script>
        function DeleteConfirm(id) {
            Swal.fire({
                title: "هشدار ! ",
                icon: 'warning',
                text: "آیا از حذف این آیتم اطمینان دارید؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#00aced',
                cancelButtonColor: '#e6294b',
                confirmButtonText: 'حذف',
                cancelButtonText: 'انصراف'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete_form_' + id).submit();
                }
            })
        }
    </script>

    <script>
        function SeperateNumbersByComma(value) {
            var nStr = value.toString();
            nStr = nStr.replace(/\,/g, "");
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        function formatSalePriceNumber(value) {
            var nStr = value + '';
            return SeperateNumbersByComma(nStr);
        }
    </script>

    <script>
        app.controller('myCtrl', function ($scope, $http) {
            $scope.id = null;
            $scope.status = {};
            $scope.is_submited = false;

            $scope.ChangeStatusModal = function (id, status) {
                $scope.id = id;
                $scope.status = status;
                $('#changeStatusModal').modal('show');
            }

            $scope.ChangeStatus = function () {
                $scope.is_submited = true;

                var data = {
                    "status": $scope.status
                };

                $http.patch(`/api/class/${$scope.id}/`, data).then(res => {
                    createToast('success', 'وضعیت آیتم مورد نظر با موفقیت تغییر کرد.');
                    $scope.is_submited = false;
                    setTimeout(() => {
                        location.reload()
                    }, 100)
                }).catch(err => {
                    $scope.loading = false;
                    parseError(err, 'خطایی رخ داد');
                });
            }
        });
    </script>
{% endblock %}