body{
    font-family:'M';
 }
 @font-face {
     font-family: 'M';
     src: url(/fonts/IRANSans/IRANSansWeb_Bold.woff);
 }
 .adamak:hover{
	cursor: pointer;
}
.main{
    border: 1px solid #ecf0f4;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #d5dce2;
    margin: auto;
    margin-top: 22%;
    margin-bottom: 3%;
    opacity: 0.95;
    width: 95%;
    height: auto;
}
.article{
    font-size: larger;
    
}
.accont img {
    width: 12%;
}
.sidbar{
    border: 1px solid #ecf0f4;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #d5dce2;
    margin: auto;
    margin-top: 22%;
    margin-bottom: 20%;
    opacity: 0.95;
    width: 50%;
    height: 50%;
    color: rgb(64, 212, 212);
}
.sidbar ul li{
    list-style-type: square;
}
.comment{
    border: 1px solid #ecf0f4;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #d5dce2;
    margin-bottom: 10%;
}
.imag{
    width: 10%;
    height: 10%;
}
.grouping{
    color: black;
}
.grouping:hover{
    color: #ff8a00;
}
.img-article{
    
    width: 100%;
}
.slideshow-container {
    position: relative;
  }
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -85px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
    right: 0;
  }
  .next {
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: #ff8a00;
    color: white;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  q {font-style: italic;}

  .author {color: cornflowerblue;}