{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags acl_tags %}

{% block title %} پروفایل هنرجو {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="col-12">
                <div class="card-box" style="height: 200px!important;">
                    <h2 class="card-title"><b>پروفایل هنرجو {{ object.user.full_name | default_if_none:'---' }}</b></h2>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>نام : {{ object.user.first_name | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>نام خانوادگی : {{ object.user.last_name | default_if_none:'---' }}</p>
                    </div>
                    <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                        <p>نام پدر : {{ object.user.father_name | default_if_none:'---' }}</p>
                    </div>

                    {% if request.user.is_superuser %}
                        <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                            <p>مقطع تحصیلی : {{ object.user.get_education_level | default:'---' }}</p>
                        </div>
                        <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                            <p>پایه تحصیلی : {{ object.user.grade | default_if_none:'---' }}</p>
                        </div>
                        <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                            <p>کد ملی : {{ object.user.national_id | default_if_none:'---' }}</p>
                        </div>
                         <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                            <p>نحوه آشنایی : {{ object.user.get_intro_method | default_if_none:'---' }}</p>
                        </div>

                         <div class="col col-sm-6 col-lg-3 col-md-4 col-xs-6">
                            <p>دوره ها :
                                {% for item in object.user.classes.all %}
                                    <span><a href="{% url 'class-users-list' %}?class={{ item.class_item.id }}">{{ item.class_item }}</a></span>{% if not forloop.last %},&nbsp;{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}

                    {% if user|has_perm:'chats_create' and not user.is_superuser %}
                        <div class="col-lg-12">
                            <div class=" m-b-20" style="float: left !important;">
                                <a href="{% url 'chats-room' object.user_id %}"
                                   class="btn btn-info btn-border-radius waves-effect">گفتگو با هنرجو</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}