{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags acl_tags class_tags %}

{% block title %} گفتگو {% endblock %}

{% block Styles %}
    <style>
        .card-bordered {
            border: 1px solid #ebebeb;
        }

        .card {
            border: 0;
            border-radius: 0px;
            margin-bottom: 30px;
            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
            -webkit-transition: .5s;
            transition: .5s;
        }

        .padding {
            padding: 3rem !important
        }

        body {
            background-color: #f9f9fa
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }


        .card-header {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding: 15px 20px;
            background-color: transparent;
            border-bottom: 1px solid rgba(77, 82, 89, 0.07);
        }

        .card-header .card-title {
            padding: 0;
            border: none;
        }

        h4.card-title {
            font-size: 17px;
        }

        .card-header > *:last-child {
            margin-right: 0;
        }

        .card-header > * {
            margin-left: 8px;
            margin-right: 8px;
        }

        .btn-secondary {
            color: #4d5259 !important;
            background-color: #e4e7ea;
            border-color: #e4e7ea;
            color: #fff;
        }

        .btn-xs {
            font-size: 11px;
            padding: 2px 8px;
            line-height: 18px;
        }

        .btn-xs:hover {
            color: #fff !important;
        }


        .card-title {
            font-family: Roboto, sans-serif;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 0;
            padding: 15px 20px;
            border-bottom: 1px solid rgba(77, 82, 89, 0.07);
        }


        .ps-container {
            position: relative;
        }

        .ps-container {
            -ms-touch-action: auto;
            touch-action: auto;
            overflow: hidden !important;
            -ms-overflow-style: none;
        }

        .media-chat {
            padding-right: 64px;
            margin-bottom: 0;
        }

        .media {
            padding: 16px 12px;
            -webkit-transition: background-color .2s linear;
            transition: background-color .2s linear;
        }

        .media .avatar {
            flex-shrink: 0;
        }

        .avatar {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 100%;
            background-color: #f5f6f7;
            color: #8b95a5;
            text-transform: uppercase;
        }

        .media-chat .media-body {
            -webkit-box-flex: initial;
            flex: initial;
            display: table;
        }

        .media-body {
            min-width: 0;
        }

        .media-chat .media-body p {
            position: relative;
            padding: 6px 8px;
            margin: 4px 0;
            background-color: #f5f6f7;
            border-radius: 3px;
        {#font-weight: 100;#} color: #9b9b9b;
        }

        .media > * {
            margin: 0 8px;
        }

        .media-chat .media-body p.meta {
            background-color: transparent !important;
            padding: 0;
            opacity: .8;
        }

        .media-meta-day {
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 0;
            color: #8b95a5;
            opacity: .8;
            font-weight: 400;
        }

        .media {
            padding: 16px 12px;
            -webkit-transition: background-color .2s linear;
            transition: background-color .2s linear;
        }

        .media-meta-day::before {
            margin-right: 16px;
        }

        .media-meta-day::before, .media-meta-day::after {
            content: '';
            -webkit-box-flex: 1;
            flex: 1 1;
            border-top: 1px solid #ebebeb;
        }

        .media-meta-day::after {
            content: '';
            -webkit-box-flex: 1;
            flex: 1 1;
            border-top: 1px solid #ebebeb;
        }

        .media-meta-day::after {
            margin-left: 16px;
        }

        .media-chat.media-chat-reverse {
            padding-right: 12px;
            padding-left: 64px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            flex-direction: row-reverse;
        }

        .media-chat {
            padding-right: 64px;
            margin-bottom: 0;
        }

        .media {
            padding: 16px 12px;
            -webkit-transition: background-color .2s linear;
            transition: background-color .2s linear;
        }

        .media-chat.media-chat-reverse .media-body p {
            float: right;
            clear: right;
            background-color: #48b0f7;
            color: #fff;
        }

        .media-chat .media-body p {
            position: relative;
            padding: 6px 8px;
            margin: 4px 0;
            background-color: #f5f6f7;
            border-radius: 3px;
        }


        .border-light {
            border-color: #d3d3d338 !important;
        }

        .bt-1 {
            border-top: 1px solid #ebebeb !important;
        }

        .publisher {
            position: relative;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 12px 20px;
            background-color: #f9fafb;
        }

        .publisher > *:first-child {
            margin-left: 0;
        }

        .publisher > * {
            margin: 0 8px;
        }

        .publisher-input {
            -webkit-box-flex: 1;
            flex-grow: 1;
            border: none;
            outline: none !important;
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: Roboto, sans-serif;
            font-weight: 300;
        }

        .publisher-btn {
            background-color: transparent;
            border: none;
            color: #8b95a5;
            font-size: 16px;
            cursor: pointer;
            overflow: -moz-hidden-unscrollable;
            -webkit-transition: .2s linear;
            transition: .2s linear;
        }

        .file-group {
            position: relative;
            overflow: hidden;
        }

        .publisher-btn {
            background-color: transparent;
            border: none;
            color: #cac7c7;
            font-size: 16px;
            cursor: pointer;
            overflow: -moz-hidden-unscrollable;
            -webkit-transition: .2s linear;
            transition: .2s linear;
        }

        .file-group input[type="file"] {
            position: absolute;
            opacity: 0;
            z-index: -1;
            width: 20px;
        }

        .text-info {
            color: #48b0f7 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="row" ng-init="init()">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b> گفتگو با مدرس {{ object.profile_name }}</b></h2>
                </div>

                <div class="page-content page-container card-box" style="width: 100% !important" id="page-content">
                    <div class="padding">
                        <div class="container d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="card card-bordered">
                                    <div class="card-header">
                                        <h4 class="card-title"><strong>گفتگو</strong></h4>
                                        {#                                        <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>#}
                                    </div>


                                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                                         style="overflow-y: scroll !important; height:400px !important;background-color: #d3d3d338!important;">

                                        <div ng-repeat="message in messages">

                                            <div ng-show="message.sender.id != {{ request.user.id }}" class="media media-chat "
                                                 dir="ltr">
                                                <img class="avatar" style="text-align: left!important;"
                                                     src="[[message.sender.avatar]]"
                                                     alt="...">
                                                <div class="media-body" style="width: auto!important;">
                                                    <p style="word-wrap: break-word!important;background-color: #aaaaaa30!important; color: black">
                                                        [[message.text]]</p>
                                                    <p class="meta">
                                                        <time datetime="2018"
                                                              style="background-color: #aaaaaa30!important;color: black">
                                                            [[message.created_at]]
                                                        </time>
                                                    </p>
                                                </div>
                                            </div>

                                            {#                                        <div class="media media-meta-day">Today</div>#}

                                            <div ng-show="message.sender.id == {{ request.user.id }}"
                                                 class="media media-chat media-chat-reverse" dir="rtl"
                                                 style="word-wrap: break-word!important;">
                                                <img class="avatar"
                                                     src="[[message.sender.avatar]]"
                                                     alt="...">
                                                <div class="media-body" style="width: auto!important;">
                                                    <p style="word-wrap: break-word!important;">[[message.text]]</p>
                                                    <p class="meta">
                                                        <time datetime="2018"
                                                              style="background-color: #48b0f7!important;color: #fff">
                                                            [[message.created_at]]
                                                        </time>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                            <div class="ps-scrollbar-x" tabindex="0"
                                                 style="left: 0px; width: 0px;"></div>
                                        </div>
                                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                            <div class="ps-scrollbar-y" tabindex="0"
                                                 style="top: 0px; height: 2px;"></div>
                                        </div>
                                    </div>

                                    <div class="publisher bt-1 border-light"
                                         style="background-color: #aaaaaa30!important;">
{#                                        <input class="publisher-input" ng-model="text" type="text"#}
                                        <input class="form-control" ng-model="text" type="text"
                                               my-enter="SendMessage()"
                                               placeholder="متن پیام...">
                                        <a ng-disabled="is_submited" class="publisher-btn text-info"
                                           ng-click="SendMessage()" data-abc="true"><i
                                                class="fa fa-paper-plane"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block Scripts %}
    <script>
        kamaDatepicker('id_date', {
            placeholder: 'تاریخ',
            buttonsColor: 'blue',
            markHolidays: true
        });
        $("#id_date").attr('autocomplete', 'off');

        $('#id_date').on('change', function () {
            $('#id_date').val($('#id_date').val().replaceAll('/', '-'))
        })

    </script>

    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>

    <script>
        app.directive('myEnter', function () {
            return function (scope, element, attrs) {
                element.bind("keydown keypress", function (event) {
                    if (event.which === 13) {
                        scope.$apply(function () {
                            scope.$eval(attrs.myEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
        });

        app.controller('myCtrl', function ($scope, $http) {
            $scope.text = null;
            $scope.messages = [];
            $scope.is_submited = '';

            $scope.init = function () {
                $scope.GetMessages();
                setInterval(function () {
                    $scope.GetMessages();
                }, 5000);
            }

            $scope.GetMessages = function () {
                var url = '/api/chat/?receiver={{ object.id }}'

                $http.get(url).then(res => {
                    $scope.messages = res['data'];
                }).catch(err => {
                    parseError(err, 'خطایی رخ داد');
                });
            }

            $scope.SendMessage = function () {
                if (!$scope.text) {
                    $scope.text = null;
                    return;
                }
                if (!$scope.text.trim()) {
                    $scope.text = null;
                    return;
                }

                $scope.is_submited = true;

                var data = {
                    "text": $scope.text,
                    "sender": '{{ request.user.id }}',
                };

                data['receiver'] = '{{ object.id }}';

                $http.post('/api/chat/', data).then(res => {
                    $scope.is_submited = false;
                    $scope.text = null;
                    $scope.GetMessages();
                }).catch(err => {
                    $scope.is_submited = false;
                    parseError(err, 'خطایی رخ داد');
                });
            }
        });
    </script>
{% endblock %}