{% load acl_tags %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">پنل موسسه آموزشی ساعی</li>

                <li class="{% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
                    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> داشبورد</a>
                </li>

                <li class="{% if request.resolver_match.url_name == 'profile' %} active {% endif %}">
                    <a href="{% url 'profile' %}"><i class="fa fa-user"></i> پروفایل من</a>
                </li>

                {% if request.user.role_code in 'student,teacher' %}
                    <li class="{% if request.resolver_match.url_name in 'student-profile,teacher-profile' %} active {% endif %}">
                        <a href="{% if request.user.role_code == 'student' %}{% url 'student-profile' %}{% else %}{% url 'teacher-profile' %}{% endif %}"><i
                                class="fa fa-info"></i> اطلاعات تکمیلی</a>
                    </li>
                {% endif %}

                {% if request.user.is_superuser %}
                    <li class="menu-title">مدیریتی</li>

                    {% if request.user|has_perm:'user_list,user_create,user_edit,user_delete,user_change_password' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>کاربران</span> <span
                                    class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li class="{% if request.resolver_match.url_name == 'users-list' %} active {% endif %}"><a href="{% url 'users-list' %}">لیست کاربران</a></li>
                                <li class="{% if request.resolver_match.url_name == 'users-create' %} active {% endif %}"><a href="{% url 'users-create' %}">افزودن کاربر جدید</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="submenu">
                        <a href="#"><i class="fa fa-lock" aria-hidden="true"></i> <span>نقش و دسترسی</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'roles-list' %} active {% endif %}"><a href="{% url 'roles-list' %}">لیست نقش ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'permissions-list' %} active {% endif %}"><a href="{% url 'permissions-list' %}">لیست دسترسی ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'role-user-list' %} active {% endif %}"><a href="{% url 'role-user-list' %}">کاربران مدیریتی</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i> <span>هنرجو ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'students-list' %} active {% endif %}"><a href="{% url 'students-list' %}">لیست هنرجو ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'students-create' %} active {% endif %}"><a href="{% url 'students-create' %}">افزودن هنرجو جدید</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> <span>مدرس ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'teachers-list' %} active {% endif %}"><a href="{% url 'teachers-list' %}">لیست مدرس ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'teachers-create' %} active {% endif %}"><a href="{% url 'teachers-create' %}">افزودن مدرس جدید</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-image" aria-hidden="true"></i> <span>اسلایدر ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'sliders-list' %} active {% endif %}"><a href="{% url 'sliders-list' %}">لیست اسلایدر ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'sliders-create' %} active {% endif %}"><a href="{% url 'sliders-create' %}">افزودن اسلایدر جدید</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user|has_perm:'blog_category_list,blog_category_create,blog_category_edit,blog_category_delete,blog_list,blog_create,blog_edit,blog_delete' %}
                    <li class="menu-title">وبلاگ</li>

                    {% if request.user|has_perm:'blog_category_list,blog_category_create,blog_category_edit,blog_category_delete' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
                                <span>دسته بندی مقاله ها</span>
                                <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li class="{% if request.resolver_match.url_name == 'blog-categories-list' %} active {% endif %}"><a href="{% url 'blog-categories-list' %}">لیست دسته بندی ها</a></li>
                                <li class="{% if request.resolver_match.url_name == 'blog-categories-create' %} active {% endif %}"><a href="{% url 'blog-categories-create' %}">افزودن دسته بندی جدید</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if request.user|has_perm:'blog_list,blog_create,blog_edit,blog_delete' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>مقاله ها</span> <span
                                    class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li class="{% if request.resolver_match.url_name == 'blog-list' %} active {% endif %}"><a href="{% url 'blog-list' %}">لیست مقاله ها</a></li>
                                <li class="{% if request.resolver_match.url_name == 'blog-create' %} active {% endif %}"><a href="{% url 'blog-create' %}">افزودن مقاله جدید</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}

                {% if request.user|has_perm:'class_list,class_create,class_edit,class_delete,class_detail,course_list,course_create,course_edit,course_delete,course_detail,course_change_status,course_user_list,course_user_create,course_user_edit,course_user_delete,course_user_change_status' %}
                    <li class="menu-title">کلاس و دوره</li>

                    {#                    {% if request.user|has_perm:'course_list,course_create,course_edit,course_delete,course_detail,course_change_status' %}#}
                    {##}
                    {#                        <li class="submenu">#}
                    {#                            <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <span>دوره ها</span>#}
                    {#                                <span#}
                    {#                                        class="menu-arrow"></span></a>#}
                    {#                            <ul class="list-unstyled" style="display: none;">#}
                    {#                                {% if request.user|has_perm:'course_list' %}#}
                    {#                                    <li><a href="{% url 'courses-list' %}">لیست دوره ها</a></li>#}
                    {#                                {% endif %}#}
                    {##}
                    {#                                {% if request.user|has_perm:'course_create' %}#}
                    {#                                    <li><a href="{% url 'courses-create' %}">افزودن دوره جدید</a></li>#}
                    {#                                {% endif %}#}
                    {##}
                    {#                                {% if request.user|has_perm:'course_user_list' %}#}
                    {#                                    <li><a href="{% url 'course-users-list' %}">{% if request.user.is_staff %}لیست کاربران دوره#}
                    {#                                        ها{% else %}هنرجویان من{% endif %}</a></li>#}
                    {#                                {% endif %}#}
                    {#                            </ul>#}
                    {#                        </li>#}
                    {##}
                    {#                    {% endif %}#}

                    {% if request.user|has_perm:'class_list,class_create,class_edit,class_delete,class_detail,class_user_list,class_user_create,class_user_edit,class_user_delete,class_user_change_status' %}

                        <li class="submenu">
                            <a href="#"><i class="fa fa-book" aria-hidden="true"></i> <span>کلاس ها</span> <span
                                    class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                {% if request.user|has_perm:'class_list' %}
                                    <li class="{% if request.resolver_match.url_name == 'classes-list' %} active {% endif %}"><a href="{% url 'classes-list' %}">لیست کلاس ها</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'class_create' %}
                                    <li class="{% if request.resolver_match.url_name == 'classes-create' %} active {% endif %}"><a href="{% url 'classes-create' %}">افزودن کلاس جدید</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'class_user_list' %}
                                    <li class="{% if request.resolver_match.url_name == 'class-users-list' %} active {% endif %}"><a href="{% url 'class-users-list' %}">{% if request.user.is_staff %}لیست
                                        کاربران کلاس
                                        ها{% else %}هنرجویان من{% endif %}</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'class_attendance_list' %}
                                    <li class="{% if request.resolver_match.url_name == 'class-attendances-daily-list' %} active {% endif %}"><a href="{% url 'class-attendances-daily-list' %}">غایب های روز</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'class_list' %}
                                    <li><a href="{% url 'classes-list' %}?status=active">کلاس های فعال</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    {% endif %}
                {% endif %}

                {% if request.user|has_perm:'report_card_list,report_card_create,report_card_edit,report_card_delete' %}
                    <li class="submenu">
                        <a href="#"><i class="fa fa-id-card" aria-hidden="true"></i> <span>کارنامه ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'report-card-list' %} active {% endif %}"><a href="{% url 'report-card-list' %}">لیست کارنامه ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'report-card-create' %} active {% endif %}"><a href="{% url 'report-card-create' %}">کارنامه جدید</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user|has_perm:'chats_list,chats_create,chats_edit,chats_delete' %}
                    <li class="submenu">
                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> <span>گفتگو ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'chats-list' %} active {% endif %}"><a href="{% url 'chats-list' %}">لیست گفتگو ها</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user|has_perm:'chats_list,chats_create,chats_edit,chats_delete' %}
                    <li class="submenu">
                        <a href="#"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> <span>آزمون ها</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="{% if request.resolver_match.url_name == 'quizzes-list' %} active {% endif %}"><a href="{% url 'quizzes-list' %}">لیست آزمون ها</a></li>
                            <li class="{% if request.resolver_match.url_name == 'user-quizzes-list' %} active {% endif %}"><a href="{% url 'user-quizzes-list' %}">لیست پاسخنامه ها</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user|has_perm:'product_list,product_create,product_edit,product_delete,user_product_list,user_product_delete,product_user_list,product_user_detail' %}
                    <li class="menu-title">فروشگاه</li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-product-hunt" aria-hidden="true"></i> <span>محصولات</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            {% if request.user|has_perm:'product_list,product_create,product_edit,product_delete' %}
                                <li class="{% if request.resolver_match.url_name == 'products-list' %} active {% endif %}"><a href="{% url 'products-list' %}">لیست محصولات</a></li>
                            {% endif %}

                            {% if request.user|has_perm:'product_create' %}
                                <li class="{% if request.resolver_match.url_name == 'products-create' %} active {% endif %}"><a href="{% url 'products-create' %}">افزودن محصولات جدید</a></li>
                            {% endif %}

                            {% if request.user.role_code in 'student,---' %}
                                <li class="{% if request.resolver_match.url_name == 'products-user-list' %} active {% endif %}"><a href="{% url 'products-user-list' %}">محصولات</a></li>
                            {% endif %}

                            {% if request.user|has_perm:'user_product_list,user_product_delete' %}
                                <li class="{% if request.resolver_match.url_name == 'user-products-list' %} active {% endif %}"><a href="{% url 'user-products-list' %}">محصولات فروخته شده</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}


                {% if request.user|has_perm:'ticket_list,ticket_create,ticket_edit,ticket_delete,suggestion_list,suggestion_create,suggestion_edit,suggestion_delete,contact_us_list,contact_us_create,contact_us_edit,contact_us_delete' %}
                    <li class="menu-title">پشتیبانی</li>

                    {% if request.user|has_perm:'ticket_list,ticket_create,ticket_edit,ticket_delete' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-ticket" aria-hidden="true"></i> <span>تیکت ها</span>
                                <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                {% if request.user.is_staff %}
                                    <li class="{% if request.resolver_match.url_name == 'user-products-list' %} active {% endif %}"><a href="{% url 'ticket-categories-list' %}">لیست دسته بندی ها</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'ticket_list,ticket_create,ticket_edit,ticket_delete' %}
                                    <li class="{% if request.resolver_match.url_name == 'user-products-list' %} active {% endif %}"><a href="{% url 'tickets-list' %}">لیست تیکت ها</a></li>
                                {% endif %}

                                {% if request.user|has_perm:'ticket_list' %}
                                    <li class="{% if request.resolver_match.url_name == 'user-products-list' %} active {% endif %}"><a href="{% url 'tickets-create' %}">افزودن تیکت جدید</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if request.user|has_perm:'suggestion_list,suggestion_create,suggestion_edit,suggestion_delete' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                <span>انتقادات و پیشنهادات</span> <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="{% url 'suggestions-list' %}">انتقادات و پیشنهادات</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if request.user|has_perm:'contact_us_list,contact_us_create,contact_us_edit,contact_us_delete' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i>
                                <span>ارتباط باما</span> <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="{% url 'contact_us-list' %}">لیست ارتباط باما</a></li>
                            </ul>
                        </li>
                    {% endif %}

                {% endif %}


                {% if request.user|has_perm:'payments_list,installment_list,installment_create,installment_edit,installment_delete,installment_detail' %}
                    <li class="menu-title">مالی</li>

                    {% if request.user|has_perm:'payments_list' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-paypal" aria-hidden="true"></i> <span>تراکنش ها</span>
                                <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="{% url 'payments-list' %}">لیست تراکنش ها</a></li>
                            </ul>
                        </li>
                    {% endif %}


                    {% if request.user|has_perm:'installment_list,installment_create,installment_edit,installment_delete,installment_detail' %}
                        <li class="submenu">
                            <a href="#"><i class="fa fa-book" aria-hidden="true"></i> <span>قسط شهریه ها</span>
                                <span
                                        class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="{% url 'installments-list' %}">لیست قسط شهریه ها</a></li>
                            </ul>
                        </li>
                    {% endif %}

                {% endif %}

                {% if request.user|has_perm:'payments_list' %}
                    <li class="menu-title">پیامک</li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> <span>پیامک</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            {#                            <li><a href="{% url 'settings-list' %}">لیست تنظیمات</a></li>#}
                            <li><a href="{% url 'sms-group-send' %}">ارسال گروهی پیامک</a></li>
                        </ul>
                    </li>
                {% endif %}


                {% if request.user.is_superuser %}
                    <li class="menu-title">تنظیمات</li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> <span>تنظیمات</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li><a href="{% url 'settings-list' %}">لیست تنظیمات</a></li>
                            <li><a href="{% url 'settings-create' %}">افزودن تنظیمات جدید</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
