{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags %}

{% block title %} {% if object %}ویرایش دوره{% else %}افزودن دوره{% endif %} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b>{% if object %}ویرایش دوره{% else %}افزودن دوره جدید{% endif %}</b></h2>

                    <form class="form-horizontal"
                          method="post"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-lg-2"
                                       for="id_{{ field.name }}">{{ field.label }}:</label>

                                <div class="col-md-10">
                                    {{ field|addclass:"form-control" }}

                                    {% if field.help_text %}
                                        <p><small style="font-size: 14px">{{ field.help_text|safe }} </small></p>
                                    {% endif %}
                                    {% if field.errors %}
                                        <p><small class="text-danger" style="font-size: 14px"
                                                  style="color:red">{{ field.errors.0|safe }}</small></p>
                                    {% endif %}
                                    {% if field.non_field_errors %}
                                        <p><small class="text-danger" style="font-size: 20px"
                                                  style="color:red">{{ field.non_field_errors.0|safe }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <div class="m-1-25 m-b-20" style="float: left !important;">
                                <a href="{{ request.META.HTTP_REFERER }}"
                                   class="btn btn-danger btn-border-radius waves-effect">
                                    بازگشت
                                </a>
                                <button class="btn btn-info btn-border-radius waves-effect" type="button" onclick="submit()">ثبت</button>
                            </div>
                        </div>
                    </form>

                    <p>dsfds [[is_submited]]</p>

                    <input id="dsfgdgfdgd" ng-model="is_submited">

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block Scripts %}
    <script>
        app.controller('myCtrl', function ($scope, $http) {
            $scope.id = null;
            $scope.status = {};
            $scope.is_submited = '';

            $scope.ChangeStatusModal = function () {
                console.log('44444444444444')
            }
        });
    </script>


    <script>
        $('#dsfgdgfdgd').persianDatepicker({
            format: 'YYYY/MM/DD',
            placeholder: 'از تاریخ',
            initialValue: false,
            minDate: new persianDate().subtract('day', 0).valueOf(),
            timePicker: {
                enabled: true,
                meridiem: {
                    enabled: true
                },
            },
                autoClose: true

        });

        function fgdgfdgfd() {
            console.log('89888888888888')
        }

    </script>

    <script>

        function SeperateNumbersByComma(value) {
            var nStr = value.toString();
            nStr = nStr.replace(/\,/g, "");
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

    </script>

    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}