{% extends 'Layouts/admin-master.html' %}
{% load static public_tags humanize %}

{% block title %}
    فیاتر
{% endblock %}

{% block Styles %}

{% endblock %}

{% block content %}
    <div>
        {% if user.is_superuser %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-3 ">
                    <div class="dash-widget dash-widget5"
                         style="border-radius: 50px;box-shadow: 8px  8px 8px #b3c0c3; ">
                <span class="dash-widget-icon bg-success " style="border-radius: 50px;">
                    <i class="fa fa-money" aria-hidden="true"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{ total_transaction_amount | default_if_none:'0' | persian_int | intcomma:False }}
                                تومان</h3>
                            <span>درآمد</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="dash-widget dash-widget5"
                         style="border-radius: 50px;box-shadow: 8px  8px 8px #b3c0c3; ">
                <span class="dash-widget-icon bg-info" style="border-radius: 50px;"><i class="fa fa-user-o"
                                                                                       aria-hidden="true"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{ users_count | default_if_none:'0' }}</h3>
                            <span>کاربران</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="dash-widget dash-widget5"
                         style="border-radius: 50px;box-shadow: 8px  8px 8px #b3c0c3; ">
                <span class="dash-widget-icon bg-warning" style="border-radius: 50px;"><i
                        class="fa fa-users"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{ students_count | default_if_none:'0' }}</h3>
                            <span>هنرجو ها</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="dash-widget dash-widget5"
                         style="border-radius: 50px;box-shadow: 8px  8px 8px #b3c0c3; ">
                <span class="dash-widget-icon bg-primary" style="border-radius: 50px;"><i
                        class="fa fa-users"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{ teachers_count | default_if_none:'0' }}</h3>
                            <span>مدرس ها</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="dash-widget dash-widget5"
                         style="border-radius: 50px;box-shadow: 8px  8px 8px #b3c0c3; ">
                <span class="dash-widget-icon bg-danger" style="border-radius: 50px;"><i class="fa fa-tasks"
                                                                                         aria-hidden="true"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{ classes_count | default_if_none:'0' }}</h3>
                            <span>کلاس ها</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        {% if messages %}
            {% for item in messages %}
                createToast('success', '{{ item }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}