{% extends 'Layouts/admin-master.html' %}
{% load static public_tags acl_tags %}
{% load humanize %}

{% block title %} لیست غایب های روز {% endblock %}

{% block content %}

    <div class="row">

        {% if messages %}
            {% for item in messages %}
                <script>
                    Swal.fire({
                        title: "تبریک ! 🥳",
                        icon: 'success',
                        text: '{{ item }}',
                        type: "success",
                        cancelButtonColor: 'var(--primary)',
                        confirmButtonText: 'اوکی',
                    })
                </script>
            {% endfor %}
        {% endif %}

        <div class="col-lg-12">
            <div class="card-box">
                <div class="card-block">
                    <h4 class="card-title">لیست غایب های روز</h4>

                    <span id="list">
                                                                      {% if object_list %}
                                                                          <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>نام پدر</th>
                        <th>کلاس</th>
                        <th>تاریخ ثبت نام</th>
{#                        <th>اعمال</th>#}
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{ item.user.first_name | default:'---' }}</td>

                            <td>{{ item.user.last_name | default:'---' }}</td>

                            <td>{{ item.user.father_name | default:'---' }}</td>

                            <td>{{ item.class_attendance | default:'---' }}</td>

                            <td>{{ item.user.created_at | jdate | default:'---' }}</td>

{#                            <td>#}
{#                                <div class="buttons ">#}
{#                                    <form action="{% url 'class-attendances-delete' item.id %}?next={{ request.get_full_path }}"#}
{#                                          id="delete_form_{{ item.id }}"#}
{#                                          method="post">#}
{#                                        {% csrf_token %}#}
{##}
{#                                        {% if user|has_perm:'class_attendance_delete' %}#}
{#                                            <button type="button"#}
{#                                                    data-original-title="حذف"#}
{#                                                    data-toggle="tooltip"#}
{#                                                    onclick="DeleteConfirm('{{ item.id }}')"#}
{#                                                    class="delete_button btn btn-danger btn-action"><i#}
{#                                                    class="fa fa-trash"> </i>#}
{#                                        </button>#}
{#                                        {% endif %}#}
{#                                    </form>#}
{#                                </div>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                                                                      {% else %}
                                                                          <h4 style="text-align: center; padding: 40px">
                                موردی یافت نشد.
                         </h4>
                                                                      {% endif %}


                        {% include 'Admin/pagination.html' with page_obj=page_obj %}
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block Scripts %}
    <script>
        function DeleteConfirm(id) {
            Swal.fire({
                title: "هشدار ! ",
                icon: 'warning',
                text: "آیا از حذف این آیتم اطمینان دارید؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#00aced',
                cancelButtonColor: '#e6294b',
                confirmButtonText: 'حذف',
                cancelButtonText: 'انصراف'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete_form_' + id).submit();
                }
            })
        }
    </script>
{% endblock %}